<!-- draft-article.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Draft Article Page</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <style>
        form {
            max-width: 80%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #content {
            height: 200px;
        }
    </style>
</head>

<body>
    <a class="auth-link">Draft Article Page</a>
    <div class="settings">
        <button onclick="window.location.href='/author'">Back to Author Home</button>
    </div>

    <form id="editDraftForm" action="/author/edit-draft/<%= draft_article.id %>" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="<%= draft_article.title %>">
        </div><br>
        <div>
            <label for="subtitle">Subtitle:</label>
            <input type="text" id="subtitle" name="subtitle" value="<%= draft_article.subtitle %>">
        </div><br>
        <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content"><%= draft_article.content %></textarea>
        </div><br>

        <div class="form-actions">
            <button id="save-changes" type="submit">Save Changes</button>
        </div>
        <div class="draft-created-last-updated">
            <p>Created: <%= draft_article.created_at %>
            </p>
            <p>Last Updated: <%= draft_article.updated_at %>
            </p>
        </div>
    </form>
</body>

</html>